<table>
      <tr>
          <td>Map project base url:</td>
          <td>
              <input style="width: 400px" type="text" value="<%= settings['map']['iframe_url'] %>"
                     name="settings[map][iframe_url]" >
          </td>
      </tr>
</table>